export AWS_ACCESS_KEY_ID='your access key id'
export AWS_SECRET_ACCESS_KEY='your secret access key'
export AWS_BUCKET_NAME='your AWS S3 bucket name'

# If you're trying to improve the world, be a good natizen and be considerate
# when scraping data!
# See https://meta.stackexchange.com/questions/443/etiquette-of-screen-scraping-stack-overflow

# export HTTP_USER_AGENT='citybike-scraper-bot@<YOURDOMAIN.COM>'
